<!DOCTYPE html>
<head>
<style>
table {
    border-collapse: collapse;
    width: 100%;
}
tr:hover {background-color: #f5f5f5}
th {
    background-color: #4f8dc6;
    color: white;
    font-style: normal;
}
table, th, td {
    border: 1px dotted gray;
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd
}
</style>
</head>
<html>
    <body>
        <p>Buenos Dias</p>
        <p>Los siguientes empleados tienen contratos cerca a vencer o vencidos:</p>
        <table>
          <TR>
            <TH class="c1">ID</TH>
            <TH class="c2">NOMBRE</TH>
            <TH class="c3">FECHA DE TERMINACION</TH>
            <TH class="c4">DIAS PARA TERMINAR</TH>
          </TR>
          {% for rec in record %}
          <TR>
            <TD class="c1">{{ rec.employee.party.id_number }}</TD>
            <TD class="c2">{{ rec.employee.party.name }}</TD>
            <TD class="c3">{{ rec.finished_date.strftime('%d-%b-%Y') }}</TD>
            <TD class="c4">{{ rec.time_for_finished }}</TD>
          </TR>
          {% endfor %}
        </table>
        <p>---------------------------------------------<br>
        <b> {{ record[0].create_uid.name }}</b><br>
        {{ record[0].employee.company.rec_name }}<br>
        Tryton ERP<br>
        </p>
    </body>
</html>
